.body {
    line-height: 0.25;
  }
  
  hr {
      width: 1200px;
    }
  
    .form-control{
  
      font-size: 13px;
      font-family: Roboto, "Helvetica Neue", sans-serif;
  
    }
  
    .label-small {
      vertical-align: super;
      font-size: 13px;
      font-family: Roboto, "Helvetica Neue", sans-serif;
    }
  
    .ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }
  
  
    
    .insert-button-div {
      margin-left: 100px;
      padding-left: 900px;
     
  }
  
  .topMargin{
    padding-top: 5px;
  }
  
    .example-header{
      padding-top: 1px;
      padding-bottom: 2px;
      width: 250px;
  
    }
  
  .mat-cell{
      font-size: 12px;
  }
  
  .mat-cell:first-child{
        padding-left: 1px;
  
    }
  
  .mat-footer-row{
      width: 1200px;
  }
  
  .mat-header-row{
      width: 1200px;
  }
  
  .mat-row{
      width: 1200px;
  }
  
  .mat-header-cell{
    width: 1200px;
  }
  
  .mat-table{
      width: 1200px;
    }
  
    .mat-table-800{
      width: 800px;
      margin-left: 200px;
    }
  
    .mat-800{
      width: 800px;
    }
  
    .mat-table-payment{
      width: 800px;
    }
  
    .mat-header-cell{
      width: 1200px;
    }
  
    .mat-paginator{
      padding-top: 4px;
      width: 1200px;
    }
  
    .mat-toolbar {
      width: 1200px;
      height: 40px;
      padding-bottom: 4px;
    }
  
    .shade-bg {
      background-color: #f0f1f0
    }

    .card-content {
      padding-left: 10px;
      width: 1150px;
  
    }
  
    .card{
      background-color: #f0f1f0
    }
  
    .card-header{
      font-size: 1.00rem;
      font-weight: 500;
    }