<app-sidebar></app-sidebar>
<div class="container-fluid">

  <div style="width: 1100px; margin-top: 100px;" class="card tight panel">
    <div class="card-header">Contract Item List</div>
    <div class="card-body">

      <mat-form-field style="padding-left: 15px;">
        <input matInput (keyup)="applyUserFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
      
      <mat-table #table [dataSource]="ContractItemlistDS" matSort>

        <ng-container matColumnDef="bidNumber">
          <mat-header-cell class="pull-left" fxFlex="120px" *matHeaderCellDef mat-sort-header>Contract
          </mat-header-cell>
          <mat-cell fxFlex="120px" *matCellDef="let itemList"> {{itemList.bidNumber}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="itemNumber">
          <mat-header-cell class="pull-left" fxFlex="100px" *matHeaderCellDef mat-sort-header>Item Number
          </mat-header-cell>
          <mat-cell fxFlex="100px" *matCellDef="let itemList"> {{itemList.itemNumber}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="itemDescription">
          <mat-header-cell fxFlex="130px" *matHeaderCellDef mat-sort-header> Item Description </mat-header-cell>
          <mat-cell fxFlex="130px" *matCellDef="let itemList">{{itemList.itemDescription}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="itemMake">
          <mat-header-cell class="pull-left" fxFlex="100px" *matHeaderCellDef mat-sort-header>Item Make
          </mat-header-cell>
          <mat-cell fxFlex="100px" *matCellDef="let itemList"> {{itemList.itemMake}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="itemType">
          <mat-header-cell fxFlex="375px" *matHeaderCellDef mat-sort-header>Item Type </mat-header-cell>
          <mat-cell fxFlex="375px" *matCellDef="let itemList">{{itemList.itemType}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="itemModelNumber">
          <mat-header-cell fxFlex="125px" *matHeaderCellDef mat-sort-header> Model Number   </mat-header-cell>
          <mat-cell fxFlex="125px" *matCellDef="let itemList">{{itemList.itemModelNumber}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="ClosedoutDate">
          <mat-header-cell fxFlex="90px" *matHeaderCellDef mat-sort-header> Closed Date </mat-header-cell>
          <mat-cell fxFlex="90px" *matCellDef="let itemList">{{itemList.ClosedoutDate | dateFormatPipe}}</mat-cell>
        </ng-container>


        <ng-container matColumnDef="edit">
          <mat-header-cell class="pull-left" fxFlex="50px" *matHeaderCellDef mat-sort-header> Edit </mat-header-cell>
          <mat-cell fxFlex="50px" *matCellDef="let row">
            <button mat-icon-button color="primary" focusable="false" (click)="onSelect(row)">
              <i class="fa fa-pencil mat-icon"></i>
            </button>
          </mat-cell>
        </ng-container>


        <ng-container matColumnDef="delete">
          <mat-header-cell fxFlex="50px" *matHeaderCellDef mat-sort-header> Delete </mat-header-cell>
          <mat-cell fxFlex="50px" *matCellDef="let row">
            <button mat-icon-button color="primary" focusable="false" (click)="deleteContractItem(row)">
              <i class="fa fa-trash-o  mat-icon"></i>
            </button>
          </mat-cell>
        </ng-container>


        <mat-header-row *matHeaderRowDef="itemColumns"></mat-header-row>
        <mat-row *matRowDef="let itemList; columns: itemColumns;"></mat-row>


      </mat-table>

      <mat-paginator style="margin-right: 50px;" [length]="1000" [pageSize]="5" [pageSizeOptions]="[5, 25, 100, 500]">
      </mat-paginator>

    </div>

    <div class="new-po form-group col-md-8">
      <button mat-icon-button color="primary" focusable="false" (click)="new()">
        <i style="font-size: 18px;" class="fa fa-plus-circle mat-icon"> </i>
        New Bid Item
      </button>
    </div>

  </div>

  <br>

  <div [hidden]="!enableDetail" style="width: 1100px; margin-top: 10px;  margin-left:250px;" class="card tight panel">
    <div class="card-header">
      Contract Item Details
    </div>
    <div class="card-body">

      <form [formGroup]="_form">
        <div class="form-row form-group">


  <!--        <div class="col-md-4 input-group-sm form-black label-floating is-empty">
            <label class="label-small">Bid Number</label>
            <input placeholder="Bid Number" required style="text-align: left" type="text" name="bidNumber"
              formControlName="bidNumber" class="form-control">
          </div>   -->

          <div class="col-md-4 input-group-sm form-black label-floating is-empty">

            <div class="form-group input-group-sm form-black label-floating is-empty">
              <label class="label-small">Contract</label>
              <select required class="form-control" formControlName="bidNumber">
                <option> Select Contract Type</option>
                <option *ngFor="let bid of bids" value={{bid.BidNumber}}>
                  {{bid.BidNumber}}
                </option>
              </select>
            </div>

            <small class="form-text text-muted alert alert-danger"
              *ngIf="_form.get('bidNumber').touched && _form.get('bidNumber').hasError('required')">Bid is
              Required!</small>
          </div>

          <div class="col-md-4 input-group-sm form-black label-floating is-empty">
            <label class="label-small">Make</label>
            <input placeholder="Make" required style="text-align: left" type="text" name="itemMake"
              formControlName="itemMake" class="form-control">
          </div>


          <div class="col-md-4 input-group-sm form-black label-floating is-empty">
            <label class="label-small">Item Description</label>
            <input placeholder="Item Description" required style="text-align: left" type="text" name="itemType"
              formControlName="itemType" class="form-control">
          </div>


          <div class="col-md-4 input-group-sm form-black label-floating is-empty">
            <label class="label-small">Model Number</label>
            <input placeholder="Model Number" required style="text-align: left" type="text" name="itemModelNumber"
              formControlName="itemModelNumber" class="form-control">
          </div>


          <div class="col-md-6 input-group-sm form-black label-floating is-empty">
            <label class="label-small">Item Type</label>
            <input placeholder="Item Type" required style="text-align: left" type="text" name="itemDescription"
              formControlName="itemDescription" class="form-control">
          </div>

          <div class="col-md-2 input-group-sm form-black label-floating is-empty">
            <label class="label-small">Item Number</label>
            <input placeholder="Item Number" required style="text-align: left" type="text" name="itemNumber"
              formControlName="itemNumber" class="form-control">
          </div>


          <div style="margin-top: 15px;" class="col-md-12 input-group-sm ">
            <button [disabled]="_form.invalid  || _form.pristine" (click)="processDetailUpdate()"
              style="padding-right: 15px;" class="btn btn-success pull-right">Save</button>
          </div>

        </div>
      </form>



    </div>

  </div>
  <br>